<h1>New addition</h1>

<form action="/wizard_add">
  <label for="form_first_num">
    Add this:
  </label>
  <input id="form_first_num" name="first_num" text="text">
  <label for="form_second_num">
    to this: 
  </label>
  <input id="form_second_num" name="second_num" text="text">
  <button>
    Add!
  </button>
</form>
