<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="form_first_num">
    Multiply this:
  </label>
  <input id="form_first_num" name="first_num" text="text">
  <label for="form_second_num">
    by this: 
  </label>
  <input id="form_second_num" name="second_num" text="text">
  <button>
    Multiply!
  </button>
</form>

</form>
